<!DOCTYPE html>
<html lang="fr">
<head th:include="fragments/head :: headFragment('confirmation')">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .confirmation-card {
            margin: 5rem auto;
            max-width: 600px;
            padding: 2rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="confirmation-card text-center">
       <span class="material-symbols-outlined" style="color:#28a745;font-size: 48px;">check_circle</span>
        <h2 class="mt-3">Rendez-vous Confirmé !</h2>
        <p class="lead">Merci, votre rendez-vous a été confirmé avec succès.</p>
        <hr>
        <h4>Détails du Rendez-vous :</h4>
        <ul class="list-unstyled">
            <li><strong>Nom :</strong> <span th:text="${nom}">Nom de l'utilisateur</span></li>
            <li><strong>Prénom :</strong> <span th:text="${prenom}">Prénom de l'utilisateur</span></li>
            <li><strong>Email :</strong> <span th:text="${email}">Email de l'utilisateur</span></li>
            <li><strong>Portable :</strong> <span th:text="${portable}">Numéro de portable</span></li>
            <li><strong>Adresse :</strong> <span th:text="${adresse}">Adresse de l'utilisateur</span></li>
            <li><strong>Motif de Consultation :</strong> <span th:text="${motif}">Motif</span></li>
            <li><strong>Date :</strong> <span th:text="${creneau.date}">Date</span></li>
            <li><strong>Heure :</strong> <span th:text="${creneau.heureDebut}">Heure de début</span> - <span th:text="${creneau.heureFin}">Heure de fin</span></li>
        </ul>
        <hr>
        <a href="/rendezvous" class="btn btn-primary">Retour à la page de réservation</a>
    </div>
</div>



</body>
<div class="mt-auto" th:replace="fragments/footer::footerFragment"></div>
</html>
